{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/dropzone.js')}}"></script>
<link href="{{=URL('static','css/add_post.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{=URL('static','css/dropzone.css')}}" rel="stylesheet" type="text/css"/>
<script>

</script>
<div class = "MyContent">
<!--
  <h1> New Post </h1>
  {{=form.custom.begin}}
  <div>{{=form.custom.widget.MyMessage}}</div>
  <div>{{=form.custom.widget.Picture}}</div>
  {{=form.custom.submit}}
  {{=form.custom.end}}
-->
    {{=form.custom.begin}}
    <div  id="add-div" class = "third" style = "margin-right:auto;margin-left:auto;">
        <div class = "OuterCard">
          <div class = "blogpost">

            <div class = "Author">
              <a>{{=auth.user.username}}</a>
            </div>
            <div class = "UploadImage">
              <label>
                <i class = "fa fa-camera" style="font-size:2em"></i>
                Upload Photo
                <input class="upload input-file" id="Posts_Picture" name="Picture" type="file" style="display:None" v-on:change="previewImage" />
              </label>
            </div>
            <div>
                <img class="preview" :src="imageData">
            </div>
            <div id="myId"> </div>
            <div class = "EnterMSG">
              <textarea class="text form-control" cols="40" id="Posts_MyMessage" name="MyMessage" rows="10" v-model="message" placeholder="Enter a message here"></textarea>
            </div>
            <div class = "EnterTag">
              {{=form.custom.widget.Tags}}
            </div>
            <div class = "SubmitButton">{{=form.custom.submit}}</div>
        </div>
      </div>
  </div>
  {{=form.custom.end}}
</div>
<script src="{{=URL('static', 'js/add_post.js')}}"></script>
<script>


</script>
