{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    //var my_url = "{{=URL('api', 'my_method')}}";
    //var Switch = "{{=URL('api', 'Switch')}}";
    //var delete_memo = "{{=URL('api', 'delete', user_signature = True)}}";
    var edit_post = "{{=URL('api', 'edit', user_signature = True)}}";
    //var add_memo = "{{=URL('api', 'add')}}";
</script>
<link href="{{=URL('static','css/masonry.css')}}" rel="stylesheet" type="text/css"/>
{{end}}


<div id="vue-div">

<div  class="search" style="margin:0 auto;width:50%;">
  <input type="text" v-model="search" placeholder="Search title.."/>
</div>

<div  class="main_content container masonry display:none">

  <div class = "post" v-for="post in filteredPosts">
    <div class = "OuterCard">
      <div class = "blogpost">




      <a v-if="user == post.PostedBy" class="EditPost" v-on:click="switch_to_edit(post)" href="#popup1" >
          <i class="fa fa-edit fa-lg"></i>
      </a>

      <!---
      <label v-else class="FavButton">
        <input type ="checkbox">
        <i class="fa fa-heart-o unchecked"></i>
        <i class="fa fa-heart checked"></i>
      </label>
      -->
      <div v-else class="FavButton">
        <i v-bind:class="[post.favorited ? 'fa fa-heart':'fa fa-heart-o']"></i>
      </div>

      <div v-if = "!post.edit" class = "post_text">

        <div class = "Author"><a>${post.PostedBy}</a>
          <!-- https://stackoverflow.com/questions/12605934/formatting-date-in-web2py-python -->
            <div class= "PostDate">${post.CreatedOn}</div>
        </div>

        <img class = "UploadedImage " v-lazy="post.Picture"/>
        <div class = "MSG">${post.MyMessage}</div>

        <div class="tags">
            <span v-for="tag in post.Tags" class = "tag_settings">
              <span>${tag}</span>
            </span>
        </div>
      </div>

    <div v-else class="post_text">

      <div class = "Author"><a>${post.PostedBy}</a>
        <!-- https://stackoverflow.com/questions/12605934/formatting-date-in-web2py-python -->
          <div class= "PostDate">${post.CreatedOn}</div>
      </div>

      <img class = "UploadedImage " v-lazy="post.Picture"/>
      <div class = "MSG">${post.MyMessage}</div>

      <div class="tags">
          <span v-for="tag in post.Tags" class = "tag_settings">
            <span>${tag}</span>
          </span>
      </div>

      <div class="center spaced padded">

    </div>
    <div class="modal" id="popup1">
      <div class="twothirds rounded white padded">
        <h2>Edit Mode</h2>

        <a class="close" href="#">×</a>

        <textarea rows = 2 v-model="post.MyMessage" placeholder="Write a message here"></textarea>
        <input v-model="post.tag" placeholder="Use a # to separate tags"></input>
        <div class="right">
          <a class="close btn" href="#">close</a>
        </div>
      </div>
    </div>


    </div>



      <div v-if="logged_in" class="ButtonArea container">
        <div class = "Button">
          <label class = "LikeButton">
            <input type="checkbox">
            <i class="fa fa-thumbs-o-up unchecked"></i>
            <i class ="fa fa-thumbs-up checked"></i>
          </label>
          123
        </div>

        <div class = "Button">
          <label class="UnlikeButton">
            <input type="checkbox">
            <i class="fa fa-thumbs-o-down unchecked" aria-hidden="true"></i>
            <i class="fa fa-thumbs-down checked"></i>
          </label>
          23
        </div>
        <div style="display:inline-block">
          <a v-if="user == post.PostedBy" class="DeletePost">
            <i class="fa fa-trash-o fa-lg"></i>
          </a>
        <!-- do not show trash can -->
        <!-- show the shobbing basket icon -->
          <a v-else>
            <i class="ShoppingIcon fa fa-shopping-basket"></i>
          </a>
        </div>

      </div>

      </div>
    </div>
  </div>
</div>

</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
