{{extend 'layout.html'}}

{{block head}}
{{end}}
<link href="{{=URL('static','css/masonry.css')}}" rel="stylesheet" type="text/css"/>
<a href="{{=URL('default','search', args="go")}}">search</a>
<div class="main_content container masonry">
  {{if auth.user is not None:}}
    {{for post in Posts:}}

      <div class = "post">
        <div class = "OuterCard">
        <div class = "blogpost">



          <!---<div class="LikeButton">

          </div> -->
          {{if post.PostedBy == auth.user.username:}}
          <a class="EditPost" href="{{=URL('default', 'edit', args=[post.id])}}">
              <i class="fa fa-edit fa-lg"></i>
          </a>
          {{else:}}
          <label class="FavButton">
            <input type ="checkbox">
            <i class="fa fa-heart-o unchecked"></i>
            <i class="fa fa-heart checked"></i>
          </label>
          {{pass}}

          <div class = "Author"><a>{{=post.PostedBy}}</a>
            <!-- https://stackoverflow.com/questions/12605934/formatting-date-in-web2py-python -->
              <div class= "PostDate">{{=post.CreatedOn.strftime("%B %d, %Y")}}</div>

          </div>
          <img class = "UploadedImage" src="{{=URL('default', 'download', args= post.Picture)}}" />
          <div class = "MSG">{{=post.MyMessage}}</div>

          <div class="tags">
            {{SplitTags = post.Tags.split("#")}}
            {{for tag in SplitTags:}}
              {{if tag is not "":}}
              <span class = "tag_settings">
                <span>{{=tag}}</span></span>
              {{pass}}
            {{pass}}


          </div>

          <div class="ButtonArea container">
            <div class = "Button">
            <label class = "LikeButton">
                <input type="checkbox">
                <i class="fa fa-thumbs-o-up unchecked"></i>
                <i class ="fa fa-thumbs-up checked"></i>
              </label>
              123
            </div>
            <div class = "Button">
            <label class="UnlikeButton">
              <input type="checkbox">
              <i class="fa fa-thumbs-o-down unchecked" aria-hidden="true"></i>
              <i class="fa fa-thumbs-down checked"></i>
            </label>
            23
          </div>

            <div style="display:inline-block">
            {{if post.PostedBy == auth.user.username:}}

            <a class="DeletePost" href="{{=URL('default', 'delete', args=[post.id], user_signature=True)}}">
                <i class="fa fa-trash-o fa-lg"></i>
            </a>
            {{else:}}
            <!-- do not show trash can -->
            <!-- show the shobbing basket icon -->
              <a>
                <i class="ShoppingIcon fa fa-shopping-basket"></i>
              </a>
            {{pass}}
          </div>
          </div>

        </div>
      </div>
    </div>

    {{pass}}

    <!-- when the user is not logged in -->


    {{else:}}
    {{for post in Posts:}}

      <div class = "post">
        <div class = "OuterCard">
        <div class = "blogpost">
          <div class = "Author"><a>{{=post.PostedBy}}</a>
            <!-- https://stackoverflow.com/questions/12605934/formatting-date-in-web2py-python -->
              <div class= "PostDate">{{=post.CreatedOn.strftime("%B %d, %Y")}}</div>
          </div>
          <img class = "UploadedImage" src="{{=URL('default', 'download', args= post.Picture)}}" />
          <div class = "MSG">{{=post.MyMessage}}</div>
          <div class="tags">
            {{SplitTags = post.Tags.split("#")}}
            {{for tag in SplitTags:}}
              {{if tag is not "":}}
              <span class = "tag_settings">
                <span>{{=tag}}</span></span>
              {{pass}}
            {{pass}}


          </div>
          <div class="ButtonArea">
            <div class = "Button">
            <label class = "LikeButton">
              <input type="checkbox">
              <i class="fa fa-thumbs-o-up unchecked"></i>
              <i class ="fa fa-thumbs-up checked"></i>
            </label>
          </div>
          <div class="Button">
            <label class="UnlikeButton">
              <input type="checkbox">
              <i class="fa fa-thumbs-o-down unchecked" aria-hidden="true"></i>
              <i class="fa fa-thumbs-down checked"></i>
            </label>
          </div>

          <div style="display:inline-block">
            <a>
              <i class="ShoppingIcon fa fa-shopping-basket"></i>
            </a>
          </div>

          </div>
        </div>
      </div>
    </div>
    {{pass}}
    {{pass}}
</div>
