{{extend 'layout.html'}}

{{block head}}
{{end}}


<div class="main_content container">
  <div class="small_profile quarter">
    <div class="text_settings">

    <img class="profile_pic" src="{{=URL('default', 'download', args= auth.user.profile_pic)}}"/>

    <div class="full_name">

      {{=auth.user.first_name + " " + auth.user.last_name }}


    </div>

    <div class="bio">
      {{=auth.user.bio}}
    </div>
    <div class="info_text">
    <div class="occupation">
      {{=auth.user.occupation}}
    </div>
      <div class="lives_in">

          {{=auth.user.city + ", " + auth.user.territory + ", " + auth.user.country}}

    </div>

    <div class="phone_number">
      {{=auth.user.phone_number}}
    </div>
  </div>
  </div>
  </div>
</div>
