{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link href="{{=URL('static','css/masonry.css')}}" rel="stylesheet" type="text/css"/>
{{end}}
<div id="vue-div" class="main_content container masonry display:none">
  <div class = "post" v-for="post in posts">
    <div class = "OuterCard">
      <div class = "blogpost">


      <a v-if="user == post.PostedBy" class="EditPost" >
          <i class="fa fa-edit fa-lg"></i>
      </a>
      <label v-else class="FavButton">
        <input type ="checkbox">
        <i class="fa fa-heart-o unchecked"></i>
        <i class="fa fa-heart checked"></i>
      </label>

      <div class = "Author"><a>${post.PostedBy}</a>
        <!-- https://stackoverflow.com/questions/12605934/formatting-date-in-web2py-python -->
          <div class= "PostDate">${post.CreatedOn}</div>
      </div>

      <img class = "UploadedImage" v-bind:src="post.Picture" />
      <div class = "MSG">${post.MyMessage}</div>



      </div>
    </div>
  </div>
</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
