.EnterTag{
  margin-top: 20px;
}
.SubmitButton{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.UploadImage{
  display: flex;
  justify-content: center;
}
.fill{
  display: flex;
  flex-flow: column;
}
.preview{
  width:100%;
}
.trimMargin{
  margin-top: 1%;
  margin-bottom: 1%;
}
.name{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
