.EnterTag{
  margin-top: 20px;
}
.SubmitButton{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.UploadImage{
  display: flex;
  justify-content: center;
}
.fill{
  display: flex;
  flex-flow: column;
}
.preview{
  width:100%;
}
.trimMargin{
  margin-top: 25%;
  margin-bottom: 43%;
  margin-left: auto;
  margin-right: auto;
}
.name{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.change_rotation{
  float: right;
  color: blue;
  padding-left: 1%;
}
.EnterMSG{
  margin: 0;
}
