/*Based on https://codeburst.io/how-to-pure-css-masonry-layouts-a8ede07ba31a*/

.masonry{
  flex-direction: row;
  column-count: 1;
  column-gap: 0;
}

@media (min-width: 800px) {
 .masonry{
 flex-direction: row;
 column-count: 2;
 column-gap: 0;
 }
}

@media (min-width: 1000px) {
 .masonry{
 flex-direction: row;
 column-count: 3;
 column-gap: 0;
 }
}




.post{
  padding: 0 20px 0 0;
  break-inside: avoid;
  padding: 5px;
  vertical-align: top;
  flex-direction: column;
}
