/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}
.PrimaryColor{
  background-color: #70FFF0;
  color:black;
}
.menu a{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.menu>li{
  padding:5px;
}

.MainBackgroundColor{
  background-color: #EDE4E4;
}

.ButtonArea{
  font-size: 1.5em;
}

/* this where i'm gonna style the author*/
.Author{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  padding: 5%;
}
.Author>a{
  color: black;
}

.UploadedImage{
  padding: 11%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7%;
  padding-top: 1%;

}
/* Reference: */
/* http://lea.verou.me/css3patterns/#horizontal-stripes */
/* https://css-tricks.com/stripes-css/ */
/* This is where the design of the stripes come from. */
.OuterCard{
  background-color: gray;
  /*background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);*/
  background: repeating-linear-gradient(
  180deg,
  #FFFFFF,
  #FFFFFF 10px,
  #A1A1A1 10px,
  #A1A1A1 25px
);
  background-size: 50px 50px;
  margin: 10%;
  padding:10%;
  /* This rounds the outer card edges. */
  border-radius: 30px;
}
.blogpost{
  background-color: #F9F9F9;
/*  border: gray solid 2px; */
/* This rounds the outer card edges. */
  padding: 5%;
  margin-left: -8%;
  margin-right: -8%;
  margin-top: -8%;
  margin-bottom: -8%;
  border-radius: 30px;
}
.FavButton{
  /* position: absolute;
  padding-left: 17%;
  padding-top: 0.9%;*/
  float: right;
  cursor: pointer;
  color: pink;
}
.FavButton>i{
  font-size: 1.75em
}
.FavButton input[type="checkbox"],
.FavButton .checked {display: none;}
.FavButton input[type="checkbox"]:checked ~ .checked{
  display: block;
}
.FavButton input[type="checkbox"]:checked ~ .unchecked{
  display: none;
}
.LikeButton{
  padding: 5%;
}
.button{

}
.MSG{
  padding-left: 5%;
  padding-right: 5%;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 13px;
  text-align: center;
  padding-bottom: 8%;
}

li>a{
  color:black
}
li>a:not(.btn):not(.noeffect):hover {
  color:white;
}
li>a:not(.btn):not(.noeffect):after {background-color:rgba(0, 0, 0, 0.0001)}
li:not(.btn):not(.noeffect):hover {
    background-color:#32ddcb;
    border-bottom: 2px solid white;
}
li:not(.btn):not(.noeffect):hover>a{
    color:white;
}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}
