/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}
.PrimaryColor{
  background-color: #70FFF0;
  color:black;
}
.menu a{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.menu>li{
  padding:5px;
}

.MainBackgroundColor{
  background-color: #EDE4E4;
}


/* this where i'm gonna style the author*/
.Author{

}

.UploadedImage{
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/* Reference: */
/* http://lea.verou.me/css3patterns/#horizontal-stripes */
/* This is where the design of the stripes come from. */
.OuterCard{
  background-color: gray;
  /*background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);*/
  background: repeating-linear-gradient(
  180deg,
  #FFFFFF,
  #FFFFFF 5px,
  #A1A1A1 5px,
  #A1A1A1 20px
);
  background-size: 50px 50px;
  margin: 10%;
  padding:10%;
}
.blogpost{
  background-color: #F9F9F9;
  border: gray solid 2px;
}
.MSG{
  padding-left: 30px;
  padding-right: 30px;
}

li>a{
  color:black
}
li>a:not(.btn):not(.noeffect):hover {
  color:white;
}
li>a:not(.btn):not(.noeffect):after {background-color:rgba(0, 0, 0, 0.0001)}
li:not(.btn):not(.noeffect):hover {
    background-color:#32ddcb;
    border-bottom: 2px solid white;
}
li:not(.btn):not(.noeffect):hover>a{
    color:white;
}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}
